body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

.btn-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; /* 배경색 */
    color: #fff; /* 텍스트 색상 */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
}

.btn-link:hover {
    background-color: #0056b3; /* 호버 시 배경색 변경 */
}

#header {
    padding: 10px;
}
#correct {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#loading {
    width: 0;
    height: 4px;
    top: 10px;
    background-color: #0074d9;
    position: relative;
    transition: width 5s;
}
